.led {
    width: 1em;
    height: 1em;
    background-color: #bbb;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: crosshair;
    aspect-ratio: 1;
}

.led:checked {
    background-color: #e00;
}

.matrix {
    display: inline-grid;
    background-color: #111;
    gap: 3px;
    padding: 1.5px;
    cursor: crosshair;
}
